<h2>Gallery</h2>
<hr>
<div class="password">
  <input name="password" placeholder="Password" (input)="inputCheck($event)"/>
  <button (click)="checkPassword()">Open form</button>
</div>
<form *ngIf="showForm" (submit)="onAddImage($event)">
  <div class="inputAdd">
    <input name="title" placeholder="Image title" [(ngModel)]="title"/>
    <input name="url" placeholder="Image URL" [(ngModel)]="url"/>
    <button type="submit" [disabled]="formIsEmpty()">Add image</button>
  </div>
  <div class="images">
    <app-image
    *ngFor="let image of images"
    [url]="image.url"
    [title]="image.title">
    </app-image>
  </div>
</form>
